* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*-------------------------------------styling logo-------------------------------------------*/
.logo .logo-container{

    max-height: auto;
    max-width: 100%;
    
}
img{
    width: 340px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*---------------------------------------------styling navigation bar---------------------------------------*/
.topnav {
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D4CAA3;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color:  #a19a7c;
    color: white;
  }
  
  a{
      flex: 1;
  }
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #857f65;
  }
  
  a:hover {
    background-color: #a19a7c;
    color: black;
  }
  
  .dropdown:hover {
    display: block;
  }
  
  /*--------------------------------------------------styling home page-----------------------------------------*/

.grid{
	display: grid;
	padding: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 100px 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"welcome-img welcome"
	"about about"
	"myself myself-img"
	"fam-img fam"
	"ed ed-img"
	"future-img future";
	grid-row-gap: 10px;
}
/*----------------------------------------------------styling welcome section------------------------------------------*/
.welcome{
	grid-area: welcome;
    background-color: #D4CAA3;
    opacity: 0.7;
    height: 300px;
	 padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.welcome-img {
	grid-area: welcome-img;
	background-image: url(https://media.istockphoto.com/photos/tropical-leaf-background-picture-id1147081863?k=6&m=1147081863&s=612x612&w=0&h=JQevcRIFT_M7G7_VrBkaSmkv-2WlqemBqZoCdMR5m-s=);
	height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
/*----------------------------------------------------------styling about section-----------------------------------------------*/
.about{
	grid-area: about;
	text-align: center;
	height: 100px;
}
.about span{
	color: #b3aa89;
	font-weight: 700;
	font-size: 1.5em;
	height: 100px;}

.myself{
	grid-area: myself;
  background-color: #D4CAA3;
  opacity: 0.7;
  height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}
.myself-img{
	grid-area: myself-img;
	background-image: url(https://i.pinimg.com/564x/8c/d4/7f/8cd47f25bb5aaf04c75e492abbadc09d.jpg);
	height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
    
}
.fam{
	grid-area: fam;
  background-color: #D4CAA3;
  opacity: 0.7;
  height: 300px;
	padding: 50px 0 0 0;
	 background-position: center;
   background-repeat: no-repeat;
	background-size: cover;
}
.fam-img{
	grid-area: fam-img;
	background-image: url(https://amykranecolor.com/wp-content/uploads/2020/01/Screen-Shot-2020-01-14-at-10.44.53-AM.png);
  height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.ed{
	grid-area: ed;
  background-color: #D4CAA3;
  opacity: 0.7;
  height: 300px;
	padding: 50px 0 0 0;
	 background-position: center;
   background-repeat: no-repeat;
	background-size: cover;
}
.ed-img{
	grid-area: ed-img;
	background-image: url(https://images.unsplash.com/photo-1555041469-6b20cde3fced?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDV8fGdyZWVuJTIwc3R1ZHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
	height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
   
}
.future{
	grid-area: future;
  background-color: #D4CAA3;
  opacity: 0.7;
  height: 300px;
	padding: 50px 0 0 0;
	 background-position: center;
   background-repeat: no-repeat;
	background-size: cover;
}
.future-img{
	grid-area: future-img;
	background-image: url(https://i.pinimg.com/564x/4d/9d/7a/4d9d7a70f3b66eec3a19b3903ab9ac1c.jpg);
  height: 300px;
	padding: 50px 0 0 0;
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

/*---------------------------------------------------styling header--------------------------------------------------*/
.header
{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    height: auto;
}
/*--------------------------------------------------------styling main ---------------------------------------------*/
.main{
    padding: 10px;
    margin: 60px;
    flex: 1 100%;
    border-radius: 10px;
    
}

/*--------------------------------------------------------styling entertaiment page---------------------------------------------*/
.ent-grid{
	display: grid;
	padding: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"movie drama"
	"music books";
	grid-gap: 40px;
	border-radius: 4px;
}

.movie{
	grid-area: movie;
	background-image: url(https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bW92aWV8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    height: 300px;
   padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}
.drama{
	grid-area: drama;
	background-image: url(https://images.unsplash.com/photo-1592222376988-92af20d4d06c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    height: 300px;
    opacity: 0.9;
   padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}
.music{
	grid-area: music;
	background-image: url(https://images.unsplash.com/photo-1489641493513-ba4ee84ccea9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
       height: 300px;
    padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}
.books{
	grid-area: books;
	background-image: url(https://images.unsplash.com/photo-1580490266525-859fbf71b4b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
      height: 300px;
    padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.movie span{
	color: #F5F5F5;
	font-weight: 700;
	font-size: 1.5em;
	height: 100px;}
.drama span{
	color: #F5F5F5;
	font-weight: 700;
	font-size: 1.5em;
	height: 100px;}
.music span{
	color: #F5F5F5;
	font-weight: 700;
	font-size: 1.5em;
	height: 100px;}
.books span{
	color: #F5F5F5;
	font-weight: 700;
	font-size: 1.5em;
	height: 100px;}

.movie .text-block {
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  padding: 20px; 
  text-align: center;
}

.drama .text-block {
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  padding: 20px; 
   text-align: center;
}
.music .text-block {
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  padding: 20px; 
   text-align: center;
}
.books .text-block {
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  padding: 20px; 
   text-align: center;
}
a:link, a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/*------------------------------------------------------styling movie page-----------------------------------------------------*/

.movie-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas: 
"fant action horror anime";
grid-gap: 5px;
padding-top: 70px;
}
.fant{
grid-area: fant;
text-align: center;
padding-right: 4px;
border-right: 4px solid  #a19a7c;
height: 100%;
}
.fant-title{
background-image: url(https://images.unsplash.com/photo-1575089776834-8be34696ffb9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
padding: 50px 0 0 0;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100px;
margin-bottom: 15px;
border-radius: 15px;
}
.action{
grid-area: action;
text-align: center;
padding-right: 4px;
border-right: 4px solid  #a19a7c;
height: 100%;
}
.action-title{
background-image: url(https://images.unsplash.com/photo-1577206604118-4fd3fd9eca74?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8bWlsaXRhcnl8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
padding: 50px 0 0 0;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100px;
margin-bottom: 15px;
border-radius: 15px;
}
.horror{
grid-area: horror;
text-align: center;
padding-right: 4px;
border-right: 4px solid  #a19a7c;
height: 100%;

}
.horror-title{
background-image: url(https://images.unsplash.com/photo-1601513445498-5dbffc8d5d5a?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGhvcnJvciUyMG1vdmllfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
padding: 50px 0 0 0;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100px;
margin-bottom: 15px;
border-radius: 15px;
}
.anime{
grid-area: anime;
text-align: center;  
}
.anime-title{
background-image: url(https://images.unsplash.com/photo-1574771049588-4c641deb76d4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60);
padding: 50px 0 0 0;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100px;
margin-bottom: 15px;
border-radius: 15px;
}
.img-responsive {
display: block;
width: 300px;
}
.movie-row{
display: flex;
justify-content: center;
}
.action-row{
display: flex;
justify-content: center;
}
.horror-row{
display: flex;
justify-content: center;
}
.anime-row{
display: flex;
justify-content: center;
}

/*------------------------------------------------------styling tv series and dramas page-------------------------------------------*/

.fant {
	border-right: none;
}
.action {
	border-right: none;
}
.horror {
	border-right: none;
}
.img-text {
  bottom: 16px;
  left: 50%;
  width: 192px;
  font-variant-caps: all-petite-caps;
}
.img-cont {
  position: relative;
  text-align: center;
  color: white;
}
.fant-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
}
.action-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
}
.horror-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
}
.anime-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 600px)
{
	.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"welcome-img welcome-img"
	"welcome welcome"
	"about about"
	"myself-img myself-img"
	"myself myself"
	"fam-img fam-img"
	"fam fam"
	"ed-img ed-img"
	"ed ed"
	"future-img future-img"
	"future future";
	grid-gap: 10px;
}
}
  @media screen and (max-width: 800px) {
     
     .active{
         background-color:  #D4CAA3;
     }
    .topnav a:not(:first-child), .dropdown .dropbtn{
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    a {
        flex: none;
    }
    .topnav{
        width: 80%;
    }
    .topnav.responsive {
    position: relative;
    width: 100%;
    display: initial;
    }
   .icon{
       border: solid;
   }
    .topnav.responsive .icon {
        float: right;
        display: block;
       position: absolute;
      top: 0;
      border-bottom: hidden;
    }
    .topnav.responsive a {   
        left: 50%;
        transform: translateX(-50%);
        background-color: #D4CAA3;
      float: none;
      display: block;
      text-align: left;
      border-bottom: solid;
    }

    .topnav.responsive .dropdown .nav-link {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive .dropdown .dropbtn 
    {
      display: block;
      width: 100%;
      text-align: left;
    }
    .row{
        flex-direction: column;
    }
  

}



@media screen and (max-width: 600px)
{
	.ent-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"movie movie"
	"drama drama"
	"music music"
	"books books";
	grid-gap: 10px;
}
}

@media screen and (max-width: 600px)
{
	.movie-grid{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"fant fant fant fant"
	"action action action action"
	"horror horror horror horror"
	"anime anime anime anime";
	grid-gap: 10px;
}



/*books*/
.fanta-title{
	background-image: url(https://images.unsplash.com/photo-1515356619894-b89131037e3d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FzdGxlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
   padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.rom-title{
	background-image: url(https://images.unsplash.com/photo-1557830330-6aca2b7edd70?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.hor-title{
	background-image: url(https://images.unsplash.com/photo-1509411273045-2920cee823be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGhvcnJvcnxlbnwwfDB8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.adven-title{
	background-image: url(https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YWR2ZW50dXJlfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.fanta-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .rom-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .adven-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .hor-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }

  /*Drama*/
  .fantas-title{
	background-image: url(https://i.pinimg.com/originals/2b/e9/08/2be908eca72c1ea42f68c30feb0fd64f.jpg);
   padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.roma-title{
	background-image: url(https://images.unsplash.com/photo-1554866537-e4b72ff79b1c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nzh8fGNoZXJyeSUyMGJsb3Nzb218ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.horo-title{
	background-image: url(https://cdn.wallpapersafari.com/19/48/qHTBKA.jpg);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.ani-title{
	background-image: url(https://i.pinimg.com/originals/e1/5c/f0/e15cf09f1ac022d8f6f92900ef486966.jpg);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.fantas-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .roma-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .ani-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .horo-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }

  /* music*/

.eng-title{
	background-image: url(https://media.istockphoto.com/photos/young-woman-in-eighteenth-century-image-posing-at-vintage-exterior-picture-id600064658?k=6&m=600064658&s=612x612&w=0&h=FJ4cYQM9AnvEusOeKFhPXNZS4zQ5ZcVyBju37zqNmeE=);
   padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.korean-title{
	background-image: url(https://i.pinimg.com/564x/ce/a0/27/cea0270b71143e0d337e7a0dddeb2c16.jpg);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.japanese-title{
	background-image: url(https://media.gettyimages.com/photos/japanese-women-in-kimono-picture-id109836796?k=6&m=109836796&s=612x612&w=0&h=w2ofz8S3sJFX4_J40tLvpnqbflDb5gi_K-sWr2shT0I=);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.spanish-title{
	background-image: url(https://images.unsplash.com/photo-1522796663327-2946cde45d6d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzZ8fGZsYW1lbmNvfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
     padding: 50px 0 0 0;
	 background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
}

.img-responsive {
  display: block;
  width: 300px;

}




.eng-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .korean-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .japanese-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }
  .spanish-title .text-block2{
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    height: 50px;
    border-radius: 0 0 15px 15px;
  }






 .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0.664);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


.btn:hover {
  background-color: #a19a7c;
}

/*Contact*/

.contact-grid{
	display: grid;
	padding: 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 1fr 1fr;
	grid-template-areas: 
	"cont-head cont-head"
	"contact-img contact-desc"
	"contact-img social-media";
	grid-gap: 10px;
     justify-items:center;
     padding-top: 70px;
}

.contact-desc{
	grid-area: contact-desc;
    background-color: rgba(121, 90, 90, 0.842);
    height: 100%;
	padding: 50px 0 0 0;
   text-align: center;

}

.social-media{
	grid-area: social-media;
    background-color: rgba(255, 255, 255, 0.637);
    height: 100px;
	text-align: center;
	width: max-content;

}

.cont-head{
	grid-area: cont-head;
    background-image: url(https://images.unsplash.com/photo-1522263576558-75fad02133b7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njh8fGRhcmslMjBncmVlbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    height: 680px;
	padding: 50px 0 0 0;
	width: 85%;
	text-align: center;

}
.contact-img {
	grid-area: contact-img;
	background-color: rgba(226, 211, 183, 0.801);
	height:max-content;
	width: max-content;
	padding: 50px 0 0 0;
	text-align: center;

}

/*Social media buttons*/
.fa {
  padding: 30px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background:  #D4CAA3;
  color:  #79735c;
}

.fa-google {
  background:  #D4CAA3;
  color:  #79735c;
}

.fa-youtube {
  background:  #D4CAA3;
  color:  #79735c;
}

.fa-instagram {
  background: #D4CAA3;
  color:  #79735c;
}

.fa-pinterest {
  background:  #D4CAA3;
  color:  #79735c;
}

@media screen and (max-width: 1024px)
{
	.contact-grid{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"cont-head cont-head"
	"contact-img contact-img"
	"contact-desc contact-desc"
	"social-media social-media";
   justify-items:center;
	grid-gap: 10px;

	}
	.cont-head{
		height: 180px;
	}
}

